body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('images/background.png') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.link-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.link-item a {
    display: block;
}

.link-item img {
    width: 60px; /* Állítsd be a kívánt méretet */
    height: auto;
    transition: transform 0.2s;
}

.link-item img:hover {
    transform: scale(1.1);
}

.link-item span {
    margin-top: 5px;
    font-size: 1.2em;
    color: white;
}

/* Mobilnézet */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
    }

    .links {
        flex-direction: column;
        gap: 10px;
    }

    .link-item img {
        width: 50px;
    }

    .link-item span {
        font-size: 1em;
    }

    /* Háttér optimalizálás mobilra */
    body {
        background: url('images/background-mobile.png') no-repeat center center fixed;
        background-size: cover;
    }
}
